body {
    background-color: rgb(255, 213, 79);
    margin: 0;
    width: 100%;
    height: 100%;
}

.recheio {
    display: flex;
    margin: 20px 0 0 581.5px;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: rgb(243 , 133, 182);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.palito {
    flex-direction: column;
    align-items: center;
    margin: 50px auto auto 655px;
    margin-bottom: 0px;
    margin: auto;
    width: 60px;
    height: 72px;
    background-color: rgb(237, 170, 125);
    border-top: 12px solid rgb(220, 159, 115);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.olho1 {
    display: flex;
    margin: 59px 32px -75px;
    width: 18px;
    height: 18px;
    background: #FF2995;
    border-radius: 10px;
}

#fundo1 {
    background-color: white;
    border-radius: 2px;
    width: 5px;
    height: 5px;
}

.olho2 {
    display: flex;
    margin: 29px 68px -104px;
    width: 18px;
    height: 18px;
    background: #FF2995;
    border-radius: 10px;
}

#fundo2 {
    background-color: white;
    border-radius: 2px;
    width: 5px;
    height: 5px;
}

.boca {
    width: 75px;
    height: 23px;
    background: #FF2995;
    margin: 245px auto auto -172px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
